<div class="page-header">
  <h1>Novo Consultório</h1>
</div>
{{generic-form
    model = model
    cancelRoute = 'consultorios'
    buttonText = "Adicionar Consultório"
    submitAction=(route-action "adicionarConsultorio")
}}
