<header>
  <div class="titulo">
    <h2>Notas</h2>
    <a class="novo"></a>
  </div>

	{{nota-eletronica/calendario-notas}}

	{{nota-eletronica/divisor-fixo}}
</header>

<div class="app-container notas">
	<ul class="lista-notas">
		{{nota-eletronica/nota-fiscal}}
	</ul>
</div>