@charset "UTF-8";

@font-face {
    font-family: 'julia-icons';
    src: url('../assets/icon-fonts/julia-icons.eot?kok68r');
    src: url('../assets/icon-fonts/julia-icons.eot?kok68r#iefix') format('embedded-opentype'),
         url('../assets/icon-fonts/julia-icons.ttf?kok68r') format('truetype'),
         url('../assets/icon-fonts/julia-icons.woff?kok68r') format('woff'),
         url('../assets/icon-fonts/julia-icons.svg?kok68r#julia-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

$icon-invoice: "\e922";
$icon-phone: "\e942";
$icon-waiting: "\e979";
$icon-search: "\e986";
$icon-add: "\ea0a";
$icon-sent: "\ea10";
$icon-processing: "\ea11";
$icon-back: "\ea40";
$icon-checked: "\ea54";
$icon-unchecked: "\ea56";

@mixin icon-content($content) {
  &::before {
    content: $content;
  }
}

@mixin icon($content, $size: 16) {
  @include icon-content($content);

  &::before {
    font-family: 'julia-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: $size + px;
    text-align: center;
  }
}