.calendario-notas {
	height: 70px;
	color: $color-txt;

	> .semanas {
		@include clearfix;
		width: 100%;

		> span {
			display: block;
			width: calc(100% / 7);
			height: 20px;
			line-height: 20px;
			text-align: center;
			font-size: 10px;
			float: left;

			&:first-child,
			&:last-child {
				opacity: .4;
			}
		}
	}
	> .dias {
		@include clearfix;
		height: 50px;

		span {
			display: block;
			height: 50px;
			line-height: 50px;
			text-align: center;

			&.domingo,
			&.sabado {
				opacity: .4;
			}
		}
	}
}