<div class="page-header">
  <h1>Pacientes</h1>
</div>

{{#each model as |paciente|}}
  <ul>
  <li>{{link-to paciente.nome 'pacientes.show' paciente}} ({{link-to 'editar' 'pacientes.edit' paciente}})</li>
  </ul>
{{/each}}

{{link-to "Novo Paciente" 'pacientes.new'}}