<div class="weeks">
	<span>S</span>
	<span>M</span>
	<span>T</span>
	<span>W</span>
	<span>T</span>
	<span>F</span>
	<span>S</span>
</div>

<div class="days">
	{{#slick-slider arrows=false slidesToShow=7 slidesToScroll=7}}
		<span class="sunday">1</span>
		<span class="monday">2</span>
		<span class="tuesday">3</span>
		<span class="wednesday">4</span>
		<span class="thursday">5</span>
		<span class="friday">6</span>
		<span class="saturday">7</span>
		<span class="sunday">8</span>
		<span class="monday">9</span>
		<span class="tuesday">10</span>
		<span class="wednesday">11</span>
		<span class="thursday">12</span>
		<span class="friday">13</span>
		<span class="saturday">14</span>
		<span class="sunday">15</span>
		<span class="monday">16</span>
		<span class="tuesday">17</span>
		<span class="wednesday">18</span>
		<span class="thursday">19</span>
		<span class="friday">20</span>
		<span class="saturday">21</span>
		<span class="sunday">22</span>
		<span class="monday">23</span>
		<span class="tuesday">24</span>
		<span class="wednesday">25</span>
		<span class="thursday">26</span>
		<span class="friday">27</span>
		<span class="saturday">28</span>
		<span class="sunday">29</span>
		<span class="monday">30</span>
		<span class="tuesday">31</span>
		<span class="wednesday"></span>
		<span class="thursday"></span>
		<span class="friday"></span>
		<span class="saturday"></span>
	{{/slick-slider}}
</div>