<header>
	<div class="avatar">
		<span></span>
	</div>
	<div class="info">
		<span>Márcia Beatriz</span>
		<span>
			<span class="icone"></span>
			(61) 00000-0000
		</span>
	</div>
	<div class="total">
		<span>450,00</span>
	</div>
</header>

<footer>
	<div class="nf">
		<span class="icone"></span>
		NF 123456789
	</div>
	<div class="estado">
		Emitida
		<span class="icone emitida"></span>
		<!-- classes: emitida, aguardando, processando -->
	</div>
</footer>