<header>
	<div class="info">
		{{cliente-info}}
	</div>

	<div class="total">
		<span>450,00</span>
	</div>
</header>

<footer>
	<div class="nf">
		<span class="icone"></span>
		NF 123456789
	</div>
	<div class="estado">
		Emitida
		<span class="icone emitida"></span>
		<!-- classes: emitida, aguardando, processando -->
	</div>
</footer>