<header>
  <div class="titulo">
    <h2>Definir cliente</h2>

    {{#link-to 'nota-eletronica' class='voltar'}}{{/link-to}}
  </div>
</header>

<div class="app-container">
	<div class="definir-cliente">
		<h1>Definir cliente</h1><br><br>

		{{#link-to 'inserir-cliente'}}inserir cliente{{/link-to}}<br><br>

		{{#link-to 'emitir-comprovante'}}emitir comprovante{{/link-to}}
	</div>
</div>