<header>
  <div class="titulo">
    <h2>Emitir comprovante</h2>

    {{#link-to 'nota-eletronica' class='voltar'}}{{/link-to}}
  </div>
</header>

<div class="app-container">
	<div class="emitir-comprovante">
		<h1>Emitir comprovante</h1>
	</div>
</div>