<header>
	<div class="avatar">
		<span></span>
	</div>
	<div class="info">
		<span>Márcia Beatriz</span>
		<span>
			<span class="icon"></span>
			(61) 00000-0000
		</span>
	</div>
	<div class="total">
		<span>450,00</span>
	</div>
</header>

<footer>
	<div class="nf">
		<span class="icon"></span>
		NF 123456789
	</div>
	<div class="status">
		Emitida
		<span class="icon checked"></span>
	</div>
</footer>

<!-- 	<span class="divisor">
		<span>Quarta, 15 de junho de 2017</span>
		<span class="total">1.500</span>
	</span>

	<li>
		<header>
			<div class="avatar">
				<span></span>
			</div>
			<div class="info">
				<span>Denis Toledo</span>
				<span>
					<span class="icon"></span>
					(61) 00000-0000
				</span>
			</div>
			<div class="total">
				<span>250,00</span>
			</div>
		</header>

		<footer>
			<div class="nf">
				<span class="icon"></span>
				NF 123456789
			</div>
			<div class="status">
				Processando
				<span class="icon checking"></span>
			</div>
		</footer>
	</li>

	<li>
		<header>
			<div class="avatar">
				<span></span>
			</div>
			<div class="info">
				<span>Denis Toledo</span>
				<span>
					<span class="icon"></span>
					(61) 00000-0000
				</span>
			</div>
			<div class="total">
				<span>250,00</span>
			</div>
		</header>

		<footer>
			<div class="nf">
				<span class="icon"></span>
				NF 123456789
			</div>
			<div class="status">
				Aguardando envio
				<span class="icon waiting"></span>
			</div>
		</footer>
	</li>

	<li>
		<header>
			<div class="avatar">
				<span></span>
			</div>
			<div class="info">
				<span>Denis Toledo</span>
				<span>
					<span class="icon"></span>
					(61) 00000-0000
				</span>
			</div>
			<div class="total">
				<span>250,00</span>
			</div>
		</header>

		<footer>
			<div class="status">
				Emitida
				<span class="icon checked"></span>
			</div>
		</footer>
	</li> -->