<header>
  <div class="titulo">
    <h2>Inserir cliente</h2>

    {{#link-to 'definir-cliente' class='voltar'}}{{/link-to}}
  </div>
</header>

<div class="app-container">
	<div class="inserir-cliente">
		<h1>Inserir cliente</h1>
	</div>
</div>