.lista-notas {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;

	> header {
		@include clearfix;
		width: 100%;
		display: block;

		> div {
			float: left;

			&.avatar {
				> span {
					display: block;
					width: 30px;
					height: 30px;
					border-radius: 50%;
					background-color: grey;
					margin-right: 5px;
				}
			}
			&.info {
				> span {
					display: block;
					font-size: 12px;
					line-height: 16px;

					&:last-child {
						color: #999;
					}
					> .icone {
						@include icon($icon-phone, 8);
					}
				}
			}
			&.total {
				float: right;

				> span {
					position: relative;
					color: $color-total;
					font-size: 28px;

					&:after {
						content: "R$";
						position: absolute;
						top: 3px;
						left: -20px;
						font-size: 12px;
					}
				}
			}
		}
	}
	> footer {
		@include clearfix;
		width: 100%;
		display: block;
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #f1f1f1;
		color: #999;

		> div {
			float: left;

			&.nf {
				font-size: 12px;

				> .icone {
					@include icon($icon-file-text);
					color: $color-total;
				}
			}
			&.estado {
				float: right;
				font-size: 10px;

				> .icone {
					&.processando {
						@include icon($icon-checking);
					}
					&.aguardando {
						@include icon($icon-time);
					}
					&.emitida {
						@include icon($icon-checked);
					}
				}
			}
		}
	}
}