<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="page-header">
		  	<h1 class="text-info">Atendimentos</h1>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			{{#each model as |atendimento|}}
			  <ul class="list-group">
			  	{{!-- atendimento.id? --}}
			  	<li class="list-group-item">{{link-to atendimento.nome 'atendimentos.show' atendimento}} ({{link-to 'editar' 'atendimentos.edit' atendimento}})</li>
			  </ul>
			{{/each}}
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
			<div class="btn-group btn-group-justified" role="group" aria-label="...">
				<div class="btn-group" role="group">
					<a href="" class="btn btn-default">Cancelar</a>
				</div>
				<div class="btn-group" role="group">
					<a href="" class="btn btn-primary">S/N</a>
				</div>
				<div class="btn-group" role="group">
					<a href="" class="btn btn-success">NF</a>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		{{link-to "Voltar" 'index'}} | {{link-to "Novo Atendimento" 'atendimentos.new'}}
	</div>
</div>