<div class="page-header">
  <h1>Novo Atendimento</h1>
</div>
{{atendimento-form
    atendimento = model.atendimento
    pacientes = model.pacientes
    consultorios = model.consultorios
    disabled = false
    cancelRoute = 'atendimentos'
    buttonText = "Adicionar Atendimento"
    submitAction=(route-action "adicionarAtendimento")
}}
